<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="searchTable">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">BirthDay</th>
            <th scope="col">Gender</th>
            <th scope="col">Id Card</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Customer Type</th>
        </tr>
        </thead>
        <tbody id="searchResult">
        <tr th:each="customer: ${customerList}">
            <td scope="row" th:text="${customer.id}"></td>
            <td scope="row" th:text="${customer.name}"></td>
            <td scope="row" th:text="${customer.birthday}"></td>
            <td scope="row" th:switch="${customer.gender}">
                <span th:case="1" th:text="Man"></span>
                <span th:case="0" th:text="Woman"></span>
            </td>
            <td scope="row" th:text="${customer.idCard}"></td>
            <td scope="row" th:text="${customer.phone}"></td>
            <td scope="row" th:text="${customer.email}"></td>
            <td scope="row" th:text="${customer.address}"></td>
            <td scope="row" th:text="${customer.customerType.getCustomerTypeName()}"></td>

            <td scope="row">
                <button class="btn btn-primary btnModalView" role="button"
                        th:href="@{/customer/__${customer.id}__/view}">View
                </button>
                <input type="hidden" th:value="${customer.id}">
            </td>
            <td scope="row">
                <a class="btn btn-primary " role="button"
                   th:href="@{/customer/__${customer.id}__/edit}">Edit
                </a>
            </td>
            <td scope="row">
                <button class="btn btn-danger " role="button"
                        th:onclick="'javascript:showDelete(\''+ ${customer.id} + '\')'">Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--Phan trang -->

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link"
               th:href="@{'/customer/search'(page=${customerList.number -1} )}"
               th:if="${customerList.hasPrevious()}"
               th:onclick="'javascript:searchPrevious()'">Previous
            </a>
        </li>
        <li class="page-item">
            <span th:text="${customerList.number + 1}"></span> <span th:text=" of "></span> <span th:text="${customerList.totalPages}"></span>
        </li>
        <li class="page-item">
            <a class="page-link"
               th:href="@{'/customer/search'(page=${customerList.number +1} )}"
               th:if="${customerList.hasNext()}"
               th:onclick="'javascript:searchNext()'">Next
            </a>
        </li>
    </ul>
</nav>
</body>
</html>