<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Product Management</title>

    <style>
        .notify span{
            color: red;
            font-size: 20px;
        }

        #products{
            border-collapse: collapse;
            width: 100%;
        }

        #products td, #products th {
            border: 1px solid #ddd;
            padding: 8px;
        }
    </style>
</head>
<body>


<footer th:fragment="footer">
    &copy; 2021 CodeGym
</footer>
</body>
</html>