.head{
    width: 100%;
    height: 50px;
}
.header {
    position: fixed;
    background-color: black;
    color: lightgrey;
    top: 0;
    left: 0;
    line-height: 2em;
}

.header li {
    list-style-type: none;
    display: inline;
    padding-right: 1em;
    font-weight: bold;
}

.header li:first-child{
    float: left;
    font-size: 30px;
}

.header li:last-child{
    font-size: 1.5em;
    float: right;
    padding-right: 1em;
}
.foot{
    width: 100%;
    height: 50px;
    background-color: dimgray;
    position: fixed;
    text-align: center;
    color: white;
    bottom: 0px;
    left: 0px;
}
p{
    text-align: justify;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.left{
    background-color: lightgrey;
    height: auto;
}
.content{
    background-color: white;

}
.content div{
    padding: 1em;
}
.right{
    background-color: lightgrey;
height: auto;
}
.right p {
    text-align: center;
    padding: 2em 3em;
}

.left li {
    list-style-type: none;
    padding: 2em 6em;

}
/*Màn hình điện thoại*/
@media only screen and (max-width: 600px){
    [class*="col-"]{
        width: 100%;
    }
    .row{
        text-align: center;

    }
    .header{
        line-height: 2em;
    }
    .left{
        margin-top: 1em;
        line-height: 3em;
    }
    .left li{
        display: inline;
        padding: 0em 3em;
    }
    .header li{
        float: left;
        padding-right: 1em;
    }
    .right{
        display: flex;
    }
    .right p {
      padding-left: 7em ;
    }

}
/*màn hinh ipad*/
@media only screen and (min-width: 601px){
    .col-s-1 {width: 8.33333%;}
    .col-s-2 {width: 16.66667%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33333%;}
    .col-s-5 {width: 41.66667%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33333%;}
    .col-s-8 {width: 66.66667%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33333%;}
    .col-s-11 {width: 91.66667%;}
    .col-s-12 {width: 100%;}


}
/*Màn hình pc*/
@media only screen and (min-width: 769px) {
    .col-1 {width: 8.33333%;}
    .col-2 {width: 16.66667%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33333%;}
    .col-5 {width: 41.66667%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33333%;}
    .col-8 {width: 66.66667%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33333%;}
    .col-11 {width: 91.66667%;}
    .col-12 {width: 100%;}
}
