<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/blog/create">Create new blog</a>
<h1>Blog</h1>
<div style="color: red">
    <th:block th:if="${message}">
        <h4 th:text="${message}"></h4>
    </th:block>
</div>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Blog Name</th>
        <th>Author</th>
        <th>Content</th>
    </tr>
    <th:block th:each="blog : ${blog}">
        <tr>
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.content}"></td>
            <td><a th:href="@{/blog/__${blog.id}__/view}">View</a></td>
            <td><a th:href="@{/blog/__${blog.id}__/edit}">Edit</a></td>
            <td><a th:href="@{/blog/__${blog.id}__/delete }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>