<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</head>
<body>
<h3>Add new song</h3>
<form th:action="@{/song/create}" th:object="${song}" method="post">
    <input type="hidden" th:field="*{id}">

    <div class="form-group">
        <label for="name">Song Name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"> Song name error</span>
    </div>

    <div class="form-group">
        <label for="singer">Singer</label>
        <input type="text" class="form-control" id="singer" th:field="*{singer}">
        <span th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}" style="color: red"> singer error</span>
    </div>

    <div class="form-group">
        <label for="type">Song Type</label>
        <input type="text" class="form-control" id="type" th:field="*{type}">
        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color: red"> type error</span>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>